@model AsyncInn.Models.HotelRoom

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<h2>Async Inn Hotel Manager</h2>
<nav>
    <a href="/Hotels">Add a Hotel</a>
    <a href="/Amenities">Add Amenities</a>
    <a href="/Rooms">Add a Room</a>
    <a href="/HotelRooms">Add a Room to a Hotel</a>
    <a href="/Home">Home</a>
</nav>

<h2>Details</h2>

<article>

    <div>
        <h4>HotelRoom</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PetFriendly)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PetFriendly)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Room)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Room.RoomID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Hotel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hotel.HotelID)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.RoomNumber">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</article>
