@model IEnumerable<AsyncInn.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<h2>Add Rooms to a Hotel</h2>

<nav>
    <a href="/Home">Home</a>
    <a href="/Hotels">Add a Hotel</a>
    <a href="/Amenities">Add Amenities</a>
    <a href="/Rooms">Add a Room</a>
    <a href="/HotelRooms">Add a Room to a Hotel</a>
    <a href="/RoomAmenities">View Amenities in each Room</a>
</nav>

<article>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetFriendly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PetFriendly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RoomNumber">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RoomNumber">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RoomNumber">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>
