@model AsyncInn.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "_Header";
}

@await Html.PartialAsync("_NavigationPartial")

<h2>Details</h2>

<article>

    <div>
        <h4>Room</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Layout)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Layout)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.RoomID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</article>
