@model IEnumerable<AsyncInn.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "_Header";
}

<h2>Add a Room</h2>

@await Html.PartialAsync("_NavigationPartial")

<article>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form method="post">
        <input type="text" asp-route-data="searchterm" placeholder="Enter Search Term Here" name="SearchField" />
        <button type="submit">Search!</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Layout)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Layout)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RoomID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RoomID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>
