@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<h2>Async Inn Hotel Manager</h2>
<nav>
    <a href="/Home">Home</a>
    <a href="/Hotels">Add a Hotel</a>
    <a href="/Amenities">Add Amenities</a>
    <a href="/Rooms">Add a Room</a>
    <a href="/HotelRooms">Add a Room to a Hotel</a>
    <a href="/RoomAmenities">View Amenities in each Room</a>
</nav>

<h2>Index</h2>

<article>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenities.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</article>
