@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Header";
}

@await Html.PartialAsync("_NavigationPartial")

<h2>Index</h2>

<article>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenities.Name)
                    </td>
                    <td>


                        @Html.ActionLink("Details", "Details", new { item.AmenitiesID, item.RoomID}) |
                        @Html.ActionLink("Delete", "Delete", new { item.AmenitiesID, item.RoomID})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>
